<section class="edit-tags">
  <header class="modal-header">
    <h1>Edit your tags:</h1>
  </header>

  <div class="modal-content">
    <ul class="pomodoro-tags-container">
      <% for tag in @pomodori.tags %>
        <li class="tag"><%= tag.name %></li>
      <% end %>
    </ul>

    <%= form_for @pomodori, remote: true do |p| %>
      <%= p.fields_for :tag do |t| %>
        <%= t.label :name , class: "hidden" %>
        <%= t.text_field :name, class: "text-input"  %>
      <% end %>

      <div class="form-actions">
        <%= p.submit "Update pomodori", :class => 'button primary' %>
        <%= link_to "Repeat last used tags", repeat_tags_path , :class => 'button', remote: true %>
      </div>
    <% end %>
  </div>

</section>
