<section class="edit-tags">
  <header class="modal-header">
    <h1>Edit your tags:</h1>
  </header>

  <div class="modal-content">
    <ul class="pomodoro-tags-container">
      <%= render 'tags' %>
    </ul>

    <%= form_for @pomodori, remote: true do |p| %>
      <%= p.fields_for :tag do |t| %>
        <%= t.label :name , class: "hidden" %>
        <%= t.text_field :name, class: "text-input"  %>
        <% if @trello %>
          <br>
          Tag with Trello card: <%= t.select :trello_cards, eval(current_user.cards), include_blank: true, selected: @pomodori.card_name %>
        <% end %>
      <% end %>

      <div class="form-actions">
        <%= p.submit "Update pomodori", :class => 'button primary' %>
        <%= link_to "Repeat last used tags", repeat_tags_path(:pomodoro_id => @pomodori.id), :class => 'button', remote: true %>
      </div>
    <% end %>
  </div>
</section>
