<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
	  <title>Bolognesa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Maven+Pro' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Presentation -->
	  <%= stylesheet_link_tag    "application" %>

    <!-- Scripts -->
	  <%= javascript_include_tag "application" %>
	  <%= javascript_include_tag "jquery-1.11.0.min" %>
	  <%= javascript_include_tag "jquery_ujs" %>
	  <%= javascript_include_tag "notices" %>
	  <%= javascript_include_tag "timer" %>

	  <%= csrf_meta_tags %>
	</head>
	<body class="application <% if current_user %>logged-in<% else %>logged-in-not<% end %>">
		<header class="main-header">
			<h1>Bolognesa</h1>
			<% if current_user %>
			  <div class="login-bar">
			  	<img src="<%= current_user.image %>" alt="User photo" class="user-image" />
			  	<%= current_user.name %> 
			  	<%= link_to '<i class="fa fa-times"></i> Logout'.html_safe, '/signout', :class =>"button small logout-button" %>
				</div>
			<% end %>
		</header>

	<% if flash[:notice] %>
	  <div class="notice"><%= flash[:notice] %></div>
	<% end %>

		<section id="main">
			<%= yield %>
		</section>

		<footer class="main-footer">
			<a href="http://www.ombulabs.com">An OmbuLabs Project</a>
		</footer>
	</body>
</html>
